* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
button.ms_button-round {
    border-radius: 30px;
    border: 0;
}

button.ms_button-bgcolor1 {
    background-color: #D3532A;
}
/* FINE generale */

/* header */
header {
    background-color: black;
    height: 40px;
    padding: 10px;
}
/* FINE header */
    
/* nav */
nav .fa-chevron-down {
 color: gray;
 font-size: 10px;
}

nav.navbar-light .navbar-nav a.nav-link.ms_a-color {
    color: black;
}
/* FINE nav */

/* main */
    /* jumbotron1 */
    #jumbotron1 {
        padding: 200px 0 50px 0;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }

    #jumbotron1 .ms_mx {
        margin: 30px 0;
    }
    /* FINE jumbotron1 */

    /* jumbotron2 */
    #jumbotron2 {
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-position: center;
    }

    #jumbotron2 .ms_mx {
        margin: 30px 0;
    }
    /* FINE jumbotrone2 */

    /* nuove-uscite */
    #nuove-uscite {
        background-color: rgb(51, 51, 51);
    }
    /* FINE nuove-uscite */

    /* playstation-plus */
    #playstation-plus {
        background-color: rgb(177, 177, 177);
    }
    /* FINE playstation-plus */

    /* playstation-now */
    #playstation-now {
        background-color: #161C3B;
    }
    /* FINE playstation-now */
/* FINE main */

/* footer */
footer {
    padding: 50px;
    background-color: #00439C;
}
/* FINE footer */

/* debug */

.debug main>section {
    padding: 50px 0;
}