* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
button.ms_button-bgcolor1 {
    background-color: #D3532A;
    border: 0;
}

button.ms_button-bgcolor2 {
    background-color: lightgray;
    border: 0;
}

.ms_border-round {
    border-radius: 20px;
    overflow: hidden;
}
/* FINE generale */

/* header */
header {
    background-color: black;
    height: 40px;
    padding: 10px;
}
/* FINE header */
    
/* nav */
nav .fa-chevron-down {
 color: gray;
 font-size: 10px;
}
/* FINE nav */

/* main */
main>section {
    padding: 50px 0;
}

    /* jumbotron1 */
    #jumbotron1 {
        padding: 200px 0 50px 0;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }

    #jumbotron1 .ms_my {
        margin: 30px 0;
    }
    /* FINE jumbotron1 */

    /* sezione playstation5 */
    /* FINE sezione playstation5 */

    /* jumbotron2 */
    #jumbotron2 {
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-position: center;
    }

    #jumbotron2 .ms_my {
        margin: 30px 0;
    }
    /* FINE jumbotrone2 */

    /* nuove-uscite */
    #nuove-uscite {
        background-color: rgb(51, 51, 51);
    }
    /* FINE nuove-uscite */

    /* playstation-plus */
    #playstation-plus {
        background-color: rgb(177, 177, 177);
    }

    #playstation-plus .ms_padding {
        padding-right: 40%;
    }
    /* FINE playstation-plus */

    /* playstation-now */
    #playstation-now {
        background-color: #161C3B;
    }

    #playstation-now .ms_padding {
        padding-right: 40%;
    }
    /* FINE playstation-now */
/* FINE main */

/* footer */
footer {
    padding: 50px 0;
    background-color: #00439C;
}

footer .ms_img-width {
    width: 100px;
}

footer ul {
    list-style: none;
}
/* FINE footer */